# Build e IDE
**/bin/
**/obj/
**/node_modules/
.vs/
.vscode/
.git/
*.user
*.suo
[Dd]ebug/
[Rr]elease/
*.log
*.pdb
npm-debug.log*

# Não copiar wwwroot do host (será gerado no build)
CSSistemas.API/wwwroot/
